.emphasize{
    font-weight: bold;
    color:gold
}

.header1{
    color:#0076ff;
}

.header2{
    color:blue;
}

body{
    background-color: darkgray;
}
.customList{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}

a{
text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
p::first-letter{
font-size: 1.5em;
}